.DS_Store
*.swp
.idea/
build/
*.pbxuser
*.perspective
*.perspectivev3
xcuserdata
*.mode1v3
*.mode2v3
*.svn.*
*.xcodeproj/xcshareddata/xcschemes
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcworkspace/xcuserdata/
xcshareddata
Podfile.lock
Pods
